#comments{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
#comments .title{
    font-size: 21px;
    margin-bottom: -10px;
}
.comment{
    display: flex;
    flex-direction: column;
    border-radius: .25rem;
}
.comment-fio-date{
    display: flex;
    font-size: 14px;
    align-items: center;
}
.comment-date{
    color: #a4a4a4;
}
.comment-fio{
    margin-right: 10px;
}
.comment-text{
    margin-top: 5px;
}
.comment-react{
    display: flex;
    justify-content: flex-start;
}
.comment-react-button{
    color: #63aa28;
    cursor: pointer;
    font-size: 14px;
}
.comment-react-button:hover{
    color: #5b9f0b;
}
#add_comment, .react_comment{
    margin-top: 0;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: flex-start;
}
.react_comment{
    margin-top: 15px;
    margin-bottom: 0;
    display: none;
    width: 100%;
    align-items: flex-start;
}
#add_comment label, .react_comment label{
    display: flex;
    flex-direction: column;
    width: 70%;
}
#add_comment .submit_input, .react_comment .submit_input{
    margin-top: 10px;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
#add_comment input[type="text"], #add_comment textarea, .react_comment input[type="text"], .react_comment textarea{
    width: 100%;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
#add_comment textarea, .react_comment textarea{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 80px;
    min-height: 80px;
    max-height: 160px;
}
#add_comment input[type="text"]:focus, #add_comment textarea:focus, .react_comment input[type="text"]:focus, .react_comment textarea:focus{
    outline: none;
    border: 1px solid #63aa28;
}
#add_comment input[type="submit"], .react_comment_button{
    width: 100px;
    background: #63aa28;
    color: #fff;
    border:none;
    outline: none;
    padding: 3px;
    border-radius: .25rem;
    cursor: pointer;
}
#add_comment input[type="submit"]:hover, .react_comment_button:hover{
    background: #5b9f0b;
}
.fa-level-down-alt {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-right: 10px;
}
#add_comment .title{
    font-size: 21px;
    margin-bottom: 20px;
}
.comment_parent_not_null{
    margin-top:20px;
}
.comment_parent_null{
    margin-top:30px;
}
#reviews{
    margin-top: 100px;
}